.advantages
    .advantages__comfort
        .advantages__wrapper-icon
            i.material-icons.material-icons__advantages insert_emoticon
        .advantages__text Комфорт <p>Шумопоглощающие стены</p>
    .advantages__band
    .advantages__convenience
        .advantages__wrapper-icon
            i.material-icons.material-icons__advantages location_city
        .advantages__text Удобство <p>Окно в каждой из спален</p>
    .advantages__band