//кнопки в обычном состоянии и при наведении
.buttons__group
    h3.buttons__text buttons
    .button__color
        button(type='button').color-button.color__text-style click me
        button(type='button').color-button.color__text-style.button__hover click me
    .button__transparent
        button(type='button').color-button.transparent.transparent__text-style  click me
        button(type='button').color-button.transparent.transparent__text-style.button__hover  click me
    .button__apply
        button(type='button').apply__color click me
        button(type='button').apply__hover  click me