//скрытый список предоставляемых услуг
.checkbox-list
    h3.checkbox-list__text expandable checkbox list
    +button-icon(type = 'button').checkbox-list__button
        +icon(icon="__expand_more", name="expand_more")