//указание даты не активный(даты не выбраны)
.data-picker
    h3.data-picker__text masked text field
    h3.data-picker__hidden-text default
    input(type='input' placeholder='ДД.ММ.ГГГГ').data-picker__input