//выбор даты не активный
.date-dropdown
    h3.date-dropdown__text date dropdown
    input.input-small.date-dropdown__input(type='input' value='ДД.ММ.ГГГГ')
    +button-icon(type = 'button').date-dropdown__button
        +icon(icon="__expand_more", name="expand_more")