//выпадающий список(не активный)
.dropdown-default
    h3.dropdown-default__text dropdown
    h3.dropdown-default__hidden-text default
    input(type='input' value='Сколько гостей').dropdown-default__input
    +button-icon(type = 'button').dropdown-default__button
        +icon(icon="__expand_more", name="expand_more")