//активный инпут с выбором кроватей
.dropdown-expanded
    h3.dropdown-expanded__text dropdown
    h3.dropdown-expanded__text-hidden default
    input.input-medium.dropdown-expanded__input(type='input' value='2 спальни, 2 кровати...')
    +button-icon(type = 'button').dropdown-expanded__button
        +icon(icon="__dropdown_more", name="expand_more")