//указание даты (даты выбраны)
.filter-date-dropdown
    h3.filter-date-dropdown__text filter date dropdown
    input.input-medium.filter-date-dropdown__input(type='input' value='19 авг - 23 авг')
    +button-icon(type = 'button').filter-date-dropdown__button
        +icon(icon="__expand_more", name="expand_more")