include ../../utils/mixins
+logo
.text__field-default
	label.text.text__field text field
	label.text.text-default default
	input.text__field-input(placeholder='Email')

.text__field-focus
	label.text.text__field.focus text field
	label.text.text-default.text-focus hover/focus
	.input-value
		input.text__field-input.input-focus(value='This is pretty awesome')

.dropdown-default
	label.text.text__field.dropdown dropdown
	label.text.text-default.not-visible default
	.input-value
		input.text__field-input.input-dropdown(value='Сколько гостей')