include ../../utils/mixins
+logo
.text__field-default
	label.text.text__field text field
	label.text.text-default default
	input.text__field-input(placeholder='Email')

.text__field-focus
	label.text.text__field.focus text field
	label.text.text-default.text-focus hover/focus
	input.text__field-input.input-focus(placeholder='This is pretty awesome')

.dropdown-default
	label.text.text__field.dropdown dropdown
	label.text.text-default.not-visible default
	input.text__field-input.input-dropdown(placeholder='Сколько гостей')
	+expand_more

.data-picker
	label.text.text__field.text__data-picker masked text field
	label.text.text-default.not-visible default
	input.text__field-input(placeholder='ДД.ММ.ГГГГ')

.date-dropdown
	label.text.text__field.text__date-dropdown date dropdown
	input.text__field-input.date-dropdown-input(placeholder='ДД.ММ.ГГГГ')
	+expand_more