include ../../utils/mixins
include ../../utils/checkbox-list
+logo
//не активный инпут
.text-field-default.general-setting-block
    h3.general-setting-text text field
    h3.general-setting-text.text-default default
    input.text-field-input(placeholder='Email')

//инпут с данными
.text-field-focus.general-setting-block
    h3.general-setting-text.focus text field
    h3.general-setting-text.text-default.text-focus hover / focus
    input.text-field-input.input-focus(value='This is pretty awesome')

//выпадающий список(не активный)
.dropdown-default.general-setting-block
    h3.general-setting-text.dropdown dropdown
    h3.general-setting-text.text-default.not-visible default
    input.text-field-input.input-dropdown(value='Сколько гостей')
    .input-button
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")

//указание даты не активный(даты не выбраны)
.data-picker.general-setting-block
    h3.general-setting-text.text-data-picker masked text field
    h3.general-setting-text.text-default.not-visible default
    input.text-field-input(placeholder='ДД.ММ.ГГГГ')

//выбор даты не активный
.date-dropdown.general-setting-block
    h3.general-setting-text.text-date-dropdown date dropdown
    input.text-field-input.date-dropdown-input(value='ДД.ММ.ГГГГ')
    .input-button__small
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")

//инпут с датой
.too-date-dropdown.general-setting-block
    h3.general-setting-text.text-date-dropdown date dropdown
    input.text-field-input.date-dropdown-input(value='19.08.2019')
    .input-button__small
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")

//указание даты (даты выбраны)
.filter-date-dropdown.general-setting-block
    h3.general-setting-text.text-filter filter date dropdown
    input.text-field-input.text-filter-input(value='19 авг - 23 авг')
    .input-button__filter
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")

//ввод емейл адреса
.subscription-text-field.general-setting-block
    h3.general-setting-text.text-subscription subscription text field
    input.text-field-input.subscription-input(placeholder='Email')
    .input-button__subscription
        +product__button().form-button.subscription-button
            +icon(icon="__subscription", name="arrow_forward")

//активный инпут с выбором кроватей
.dropdown-expanded.general-setting-block
    h3.general-setting-text.text-dropdown-expanded dropdown
    h3.general-setting-text.text-default.text-dropdown-default default
    input.text-field-input.dropdown-expanded-input(value='2 спальни, 2 кровати...')
    .input-dropdown-expanded
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")

//открытый выпадающий список в котором указывается количество кроватей
.open-dropdown-expanded.general-setting-block
    h3.general-setting-text.text-dropdown-expanded dropdown
    h3.general-setting-text.text-default.text-dropdown expanded
    input.text-field-input.open-dropdown-expanded-input(value='2 спальни, 2 кровати...')
    .input-dropdown-expanded
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")
    .dropdown-expanded__open
        .bedrooms
            .general-setting-text.rooms__text спальни
            .counter
                button.product__svg-button.restangle
                    span.restangle__text -
                span.general-setting-text.quantity 2
                button.product__svg-button.restangle.restangle__plus
                    span.restangle__text +
        .bed
            .general-setting-text.rooms__text.bed__text  кровати
            .counter
                button.product__svg-button.restangle
                    span.restangle__text -
                span.general-setting-text.quantity__bed 2
                button.product__svg-button.restangle.restangle-bed__plus
                    span.restangle__text +
        .bathrooms
            .general-setting-text.rooms__text.bathrooms__text  ванные комнаты
            .counter
                button.product__svg-button.restangle.restangle__not-active
                    span.restangle__text -
                span.general-setting-text.quantity__bath 0
                button.product__svg-button.restangle.restangle-bath__plus
                    span.restangle__text +

//скрытый список предоставляемых услуг
.checkbox-list.general-setting-block
    h3.general-setting-text.text-checkbox-list expandable checkbox list
    .input-checkbox-list
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")

//раскрытый список предоставляемых услуг, внутри миксин checkbox, который выводит этот список
.open-checkbox-list.general-setting-block
    h3.general-setting-text.text-open-checkbox-list expandable checkbox list
    .input-open-checkbox-list
        +product__button.form-button
            +icon(icon="__rotate", name="expand_more")
    .open-list
        +checkbox(class_checkbox_list, expandable)

//список дополнительных возможностей
.checkbox-buttons.general-setting-block
    h3.general-setting-text.text-checkbox-button  checkbox buttons
    +checkbox(class_checkbox_button, check_box_button)

//выбор пола(переключатель)
.radio-buttons.general-setting-block
    h3.general-setting-text.text-radio-button  radio buttons
    .radio-switch__man
        input(type='radio' name='radio' value='1' checked='')
        div Мужчина
    .radio-switch__woman
        input(type='radio' name='radio' value='2')
        div Женщина

//переключатель на рассылку
.toggle.general-setting-block
    h3.general-setting-text.toggle-text  toggle
    .toggle__active
        input.switch(type='checkbox' checked='')
        div Получать спецпредложения
    .toggle__not-active
        input.switch(type='checkbox')
        div Получать спецпредложения



//показатель лайков активный/не активный
.like-button.general-setting-block
    h3.general-setting-text.like-button-text  like button
    .like-button__not-active
        +product__button().like-button__not-active-switch
            +icon(icon="__heart", name="favorite_border")
            span.like-button__not-active-text 2
    .like-button__active
        .like-button__active-switch
        +product__button().like-button__active-switch
            +icon(icon="__heart material-icons__heart-color", name="favorite")
            span.like-button__active-text 12


//кнопки рейтинга
//.rate-button.general-setting-block
h3.general-setting-text.rate-button__text  rate button
.rate-button__rating
    +product__button()
        - for(let i = 1; i <= 5; i++)
        -if (i == 5)
            +icon(icon="__rating" name="star_border")
        -else
            +icon(icon="__rating" name="star")
.rate-button__rating-full
    +product__button()
        - for(let i = 1; i <= 5; i++)
        +icon(icon="__rating" name="star")



//открытый выпадающий список в котором указывается количество человек
.open-guest-dropdown.general-setting-block
    h3.general-setting-text.text-guest-dropdown dropdown
    input.text-field-input.open-guest-dropdown__input(value='Сколько гостей')
    .input-guest-dropdown
        +product__button.form-button
            +icon(icon="__expand_more", name="expand_more")
    .guest-dropdown__open
        .adults
            .general-setting-text.people__text взрослые
            .guest-dropdown__counter
                button.product__svg-button.restangle.restangle__not-active
                    span.restangle__text -
                span.general-setting-text.quantity 0
                button.product__svg-button.restangle.restangle__plus
                    span.restangle__text +
        .children
            .general-setting-text.people__text.children__text  дети
            .guest-dropdown__counter
                button.product__svg-button.restangle.restangle__not-active
                    span.restangle__text -
                span.general-setting-text.quantity__children 0
                button.product__svg-button.restangle.restangle-children__plus
                    span.restangle__text +
        .babies
            .general-setting-text.people__text.babies__text  младенцы
            .guest-dropdown__counter
                button.product__svg-button.restangle.restangle__not-active
                    span.restangle__text -
                span.general-setting-text.quantity__babies 0
                button.product__svg-button.restangle.restangle-babies__plus
                    span.restangle__text +
    button.product__svg-button.calendar__link-color.link-button применить


//дополнительный чекбокс(раскрытый)
.rich-checkbox-buttons.general-setting-block
    h3.general-setting-text.rich-checkbox-button__text rich checkbox buttons
    .wide-corridor
        input(type="checkbox")
        div.general-explanation Широкий коридор
            span.explanation Ширина коридоров в номере не менее 91 см.
    .disabled-assistant
        input(type="checkbox")
        div.general-explanation Помощник для инвалидов
            span.explanation На 1 этаже вас встретит специалист и проводит до номера.

//слайдер(ползунок), реализация через js
.range-slider.general-setting-block
    h3.general-setting-text.range-slider__text range slider
    h3.general-setting-text.text-default.range-slider__price 5 000₽ - 10 000₽
    .range-slider__group
        .range-slider__group-line
            .range-slider__group-circle.range-slider__group-circle-left
            .range-slider__group-dedicated
            .range-slider__group-circle.range-slider__group-circle-right






.buttons.general-setting-block
    h3.general-setting-text.buttons-text buttons
    button.button__color-default click me
    button.button__color-hover click me
    button.button__transparent-default click me
    button.button__transparent-hover click me
    .buttons__icon.buttons__icon-left
        span.buttons__general-text click me
    .buttons__icon.buttons__icon-right
        span.buttons__general-text click me






