include ../../utils/mixins
+logo
.text__field-default
	label.text.text__field text field
	label.text.text-default default
	input.text__field-input(placeholder='Email')

.text__field-focus
	label.text.text__field.focus text field
	label.text.text-focus hover/focus
	.test
		input.text__field-input.input-focus(value='This is pretty awesome')
