//показатель лайков активный/не активный
.like-button
    h3.like-button__text  like button
    .like-button__not-active
        +button-icon(type='like').like-button-counter
            +icon(icon="__heart", name="favorite_border")
            span.like__not-active-text  2
    .like-button__active
        +button-icon(type='like').like-button-counter.like-button-active
            +icon(icon="__heart", name="favorite")
            span.like__active-text  12