//пагинация
.pagination
    h3.pagination__text pagination
    .pagination__group
        .pagination__group-numeral
            +pagination
            +button-icon(type='button').pagination__last-button
                +icon(icon="__pagination-button", name="arrow_forward")
        .pagination__group-text 1 – 12 из 100+ вариантов аренды