//выбор пола(переключатель)
.radio-buttons
    h3.radio-buttons__text radio buttons
    .radio-switch__man
        input(type='radio' name='radio' value='1' checked='')
        label Мужчина
    .radio-switch__woman
        input(type='radio' name='radio' value='2')
        label Женщина