//дополнительный чекбокс(раскрытый)
.rich-checkbox-buttons
    h3.rich-checkbox-button__text rich checkbox buttons
    .wide-corridor
        input(type="checkbox")
        .general-explanation Широкий коридор
        .explanation Ширина коридоров в номере не менее 91 см.
    .disabled-assistant
        input(type="checkbox")
        .general-explanation Помощник для инвалидов
        .explanation На 1 этаже вас встретит специалист и проводит до номера.