//ввод емейл адреса
.subscription-text-field
    h3.subscription-text-field__text subscription text field
    input.input-medium.subscription-text-field__input(type='input' placeholder='Email')
    +button-icon(type = 'submit').subscription-text-field__button
        +icon(icon="__subscription", name="arrow_forward")