//переключатель на рассылку
.toggle
    h3.toggle__text  toggle
    .toggle__active
        input.switch(type='checkbox' checked='')
        label Получать спецпредложения
    .toggle__not-active
        input.switch(type='checkbox')
        label Получать спецпредложения