.dropdown-default {
  position: absolute;
  width: 320px;
  height: 64.44px;
  left: 141px;
  top: 311px;
}

.dropdown {
  width: 81px;
  top: 0.44px;
  font-weight: bold;
}

.not-visible {
  visibility: hidden;
  left: 261.74px;
}
.input-dropdown{
  top: 20.44px;
  box-sizing: border-box;
}