.text__field-default {
  position: absolute;
  width: 320px;
  height: 67px;
  left: 141px;
  top: 140px;
}

.text {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.text__field {
  position: absolute;
  width: 72px;
  height: 15px;
  top: 3px;
  color: #1F2041;
}

.text-default {
  position: absolute;
  width: 57px;
  height: 15px;
  left: 262.74px;
  font-weight: normal;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.text__field-input {
  position: absolute;
  width: 320px;
  height: 44px;
  top: 23px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

@include placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-left: 12px;

  color: rgba(31, 32, 65, 0.25);
}
