@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  background: #E5E5E5;
  position: relative;
  //width: 1440px;
  //height: 1350px;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cards {
  position: relative;
  width: 1440px;
  height: 1350px;
  background: #F4F4F6;
  padding: 10px 20px;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}
.form_elements {
  position: relative;
  width: 1440px;
  height: 1853px;
  background: #FFFFFF;
  padding: 10px 20px;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}
.logo{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}
.logo-vector-left{
  position: absolute;
  width: 14.12px;
  height: 14.12px;
  left: 11.29px;
  top: 18.35px;

}
.logo-vector-right{
  position: absolute;
  width: 10.94px;
  height: 7.09px;
  left: 25.77px;
  top: 14.35px;

}
//.cards{
//  height: 1350px;
//  width: 1440px;
//  left: 22155px;
//  top: -9500px;
//  border-radius: 0px;
//
//}
@import "modules/Cards/product";
@import "modules/Cards/room_page1";
@import "modules/Cards/calendar";
@import "modules/Form Elements/form_elements";
@import "modules/wrapper";