.checkbox-list {
  @extend .general-setting__block;
  width: 266px;
  height: 44px;
  top: 1182px;
  .checkbox-list__text {
    @extend .general-setting__text;
    width: 192px;
    height: 15px;
    margin-top: 15px;
  }
  .checkbox-list__button{
    margin-left: 222px;
    margin-top: -31px;
  }
}

