.date-dropdown {
@extend .general-setting__block;
  width: 150px;
  top: 502px;

  .date-dropdown__text {
    @extend .general-setting__text;
    width: 150px;
    height: 15px;
  }

  .date-dropdown__input {
    margin-top: 5px;
  }

  .date-dropdown__button {
    margin-top: -43px;
    margin-left: 106px;
  }

}

