@import "../../../assets/scss/utils/mixins";

.product__block-roompage {
  position: absolute;
  left: 980px;
  top: 856px;
  .product__testimonials {
    font-family: $mainFontBold;
    font-size: 14px;
    text-transform: none;
    margin-left: 27px;
    margin-top: 12px;
    color: rgba(31, 32, 65, 0.5);
    line-height: 18px;
    text-align: right;
  }
  .product__testimonials span{
    font-family: $mainFont;
}
  .rating {
    margin-left: 5px;
    margin-top: 13px;
  }
}
