- var bulletListClass = ['bullet-list__group-1', 'bullet-list__group-2', 'bullet-list__group-3'];
- var bulletList = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'];


mixin bullet-list(bulletListClass, bulletList)
	each item, key in bulletListClass
		.bullet-list__group(class=item)
			each value, index in bulletList
				if key==index
					.bullet-list__group-ellipse
					.bullet-list__group-text=value
