- var bulletList = [['pets','Нельзя с питомцами'], ['no-parties','Без вечеринок и мероприятий'], ['arrival-time','Время прибытия — после 13:00, а выезд до 12:00']];


mixin bullet-list( bulletList)
	each value, index in bulletList
		div(class=value[0])
			.bullet-list__group-ellipse
			.bullet-list__group-text=value[1]
