- var expandable = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"];
- var class_checkbox_list = ["group","group-1", "group-2", "group-3", "group-4", "group-5" ];
- var check_box_button = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"];
- var class_checkbox_button = ["list","list-1", "list-2"];


mixin checkbox(classname, expandable)
	each item, key in classname
		div(class = item)
			each value, index in expandable
				if index == key
					input.checkbox
					.checkbox-text=value
					if index > 0 && index < 4
						.checkbox.checkbox-true
						img(src="../../../assets/img/check-mark.png").checkbox-img
						.checkbox-text=value
