- var expandable = [["Завтрак", false], ["Письменный стол", true], ["Стул для кормления", true], ["Кроватка", true], ["Телевизор", false], ["Шампунь",, false]];
- var checkbox_button = [["Можно курить", false], ["Можно с питомцами", true], ["Можно пригласить гостей (до 10 человек)", true]];


mixin checkbox(expandable)
	each value, index in expandable
		.general-style-list
			input(type="checkbox" checked=value[1])
			label=value[0]

