- var dropdownList = [{'bedrooms': ['open-text-bedrooms','спальни','2']},{'bed' : ['open-text-bed','кровати','2']},{'bathrooms': ['open-text-bathrooms','ванные комнаты','0']}];

mixin dropdown(dropdownList)
	each item, key in dropdownList
		each value, index in item
			div(class=index)
				div(class=value[0]).dropdown__open-text=value[1]
				.counter
					if value[2] == 0
						button.restangle.restangle__not-active(type='button') -
						span.counter__quantity=value[2]
						button.restangle(type='button') +
					else
						button.restangle(type='button') -
						span.counter__quantity=value[2]
						button.restangle(type='button') +
