mixin image-switch__item(src, alt)
	.image-switch__item
		.image-switch__img
			img(src=src alt=alt)



mixin svg
	include ../../assets/img/Material Icons/star.svg



mixin svg_border
	include ../../assets/img/Material Icons/star_border.svg