mixin image-switch__item(src, alt)
    .image-switch__item
        .image-switch__img
            img(src=src alt=alt)



mixin star_svg
    i.material-icons.material-icons-rating star

mixin star_svg_border
    i.material-icons.material-icons-rating  star_border


mixin keyboard_arrow_left_svg
    button.image-switch__button
        i.material-icons.material-icons-color keyboard_arrow_left


mixin keyboard_arrow_right_svg
    button.image-switch__button
        i.material-icons.material-icons-color keyboard_arrow_right