mixin image-switch__item(src, alt)
	.image-switch__item
		.image-switch__img
			img(src=src alt=alt)



mixin star_svg
	include ../../assets/img/Material Icons/star.svg



mixin star_svg_border
	include ../../assets/img/Material Icons/star_border.svg


mixin keyboard_arrow_left_swg
	include ../../assets/img/Material Icons/keyboard_arrow_left.svg



mixin keyboard_arrow_right_swg
	include ../../assets/img/Material Icons/keyboard_arrow_right.svg
