include ../utils/mixins
article.calendar__block
	.calendar__field
		.calendar__arrow
			+kalendar_arrow_back
			+kalendar_arrow_forward
		.calendar__field-month Август 2019
		.calendar__field-days
			.calendar__field-day-of-week
			.calendar__field-dates
	.calendar__link
		span.icon-link-left.icon-link-color очистить
		span.icon-link-right.icon-link-color применить
