extends ../layout/main

block variables
    - let title = 'Webpack + Pug';
    - let description = 'Description for Webpack + Pug';
    - let pageClass = 'index-page';

block content
    section.cards
        include Cards/cards
    //section.form_elements
    //    include Form Elements/form_elements
    //section.test
    //    .block1
    //        .small1
    //        .small2
    //        .small3
    //        .small4
    //        .small5
    //        .small6
    //    .block2
    //        .amall1
    //        .amall2
    //        .amall3
    //        .amall4
    //        .amall5
    //        .amall6
    //    .block3
    //        .fmall1
    //        .fmall2
    //        .fmall3
    //        .fmall4
    //        .fmall5
    //        .fmall6




