extends ../layout/main

block variables
    - let title = 'Webpack + Pug';
    - let description = 'Description for Webpack + Pug';
    - let pageClass = 'index-page';

block content
    //section.cards
    //    include Cards/cards
    section.form_elements
        include Form Elements/form_elements





