extends ../layout/main

block variables
    - let title = 'Webpack + Pug';
    - let description = 'Description for Webpack + Pug';
    - let pageClass = 'index-page';

block content
    section
        include room_Page1.pug
        include room_Page2.pug


