.logo{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}
.logo-vector-left{
  position: absolute;
  width: 14.12px;
  height: 14.12px;
  left: 11.29px;
  top: 18.35px;
}
.logo-vector-right{
  position: absolute;
  width: 10.94px;
  height: 7.09px;
  left: 24px;
  top: 13px;
}
