@import "../../../assets/scss/utils/mixins";
.product__block-roompage-lux{
  position: absolute;
  left: 980px;
  top: 559px;
  .product__button{
    margin-top: 53px;
  }
  .product__button-svg-right{
    transform: rotate(180deg);
  }
  .material-icons__style{
    color: white;
  }
  .product__number-lux {
    position: absolute;
    left: 80px;
    top: 179px;
    width: 41px;
    height: 15px;
    font-family: $mainFontBold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
  }
  .product__image-mask{
    position: absolute;
    display: flex;
    z-index: 30;
  }
  .image-mask{
    width: 42px;
    height: 151px;
    left: 230px;
    top: 559.5px;
    border-radius: 4px 0px 0px 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }
  .image-mask__right{
    margin-left: 186px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .product__testimonials-lux {
    font-family: $mainFontBold;
    font-size: 14px;
    text-transform: none;
    margin-left: 20px;
    margin-top: 14px;
    color: rgba(31, 32, 65, 0.5);
    line-height: 18px;
    text-align: right;
  }
  .product__testimonials-lux span {
    font-family: $mainFont;

  }
  .rating-lux {
    margin-left: 5px;
    margin-top: 12px;
  }
}
