include ../../utils/mixins


article.calendar
	.calendar__field
		//блок с кнопками вперед/назад
		.calendar__button
			+button-icon(type='submit')
				+icon(icon="__style", name="arrow_back")
		.calendar__button.calendar__button-svg-right
			+button-icon(type='submit')
				+icon(icon="__style", name="arrow_forward")
		.calendar__field-month Август 2019
		.calendar__field-days
			.calendar__field-restangle
			.calendar__field-day-of-week
				//тут срабатывает js, который вставляет сюда li с днями недели
			.calendar__field-dates
				//миксин, который выводит даты календаря, применяя к нему те или иные стили
				+list('', data_items)
	button(type='button').button-apply.data-button-clear очистить
	button(type='button').button-apply.data-button-apply применить
