include ../../utils/mixins


article.calendar
	.calendar__field
		.calendar__arrow
			+kalendar_arrow_back
			+kalendar_arrow_forward
		.calendar__field-month Август 2019
		.calendar__field-days
			.calendar__field-restangle
			.calendar__field-day-of-week
			.calendar__field-dates
				+list('calendar__field-dates-restangle', data_items)

	.calendar__link
		span.icon-link-left.icon-link-color очистить
		span.icon-link-right.icon-link-color применить
