include ../../utils/mixins
article.product.block__roompage2
    a.product__image(href="#")
        .product__switch.image-switch
            +image-switch__item("../../assets/img/image.png", "room")
            +image-switch__item("../../assets/img/image2.png", "room")
            +image-switch__item("../../assets/img/image3.png", "room")
            +image-switch__item("../../assets/img/image4.png", "room")
        ul.product__image-pagination.image-pagination(aria-hidden="true")
    .product__info
        span.product__number № <span>840</span>
        span.product__price 9 900₽
            span в сутки
        .gorizontal__line
        .product__props
            span.product__rating
                +star_svg
                +star_svg
                +star_svg
                +star_svg
                +star_svg_border
            span.product__testimonials 65 Отзывов