include ../../utils/mixins
article.product.product__block-roompage
    a.product__image(href="#")
        .product__switch.image-switch
            +image-switch__item("../../assets/img/image.png", "room")
            +image-switch__item("../../assets/img/image2.png", "room")
            +image-switch__item("../../assets/img/image3.png", "room")
            +image-switch__item("../../assets/img/image4.png", "room")
        ul.product__image-pagination.image-pagination(aria-hidden="true")
    .product__info
        span.product__number № <span>840</span>
        span.product__price 9 900₽
            span в сутки
        .product__info__horizontal-line
        .product__props
            span.product__rating
                +product__button.rating-button
                    - for(let i = 1; i <= 4; i++)
                        +icon(icon="-rating" name="star")
                +product__button.rating-button
                    +icon(icon="-rating" name="star_border")
            span.product__testimonials 65 Отзывов







