.button__default{
  position: absolute;
  width: 320px;
  height: 44px;
  left: 979px;
  top: 456px;

/* Primary Gradient */

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: #FFFFFF;
}
.material-icons__button-default {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 286px;
  top: 0px;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
