.buttons {
  position: absolute;
  width: 218px;
  height: 195px;
  left: 979px;
  top: 231px;
}
.buttons-text {
  top: 0px;
}

.buttons__general-style {
  position: absolute;
  width: 99px;
  height: 44px;
  border-radius: 22px;
}
.button__color-default, .button__color-hover {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #FFFFFF;
}
.button__color-default {
  left: 1px;
  top: 31px;
}
.button__color-hover {
  left: 119px;
  top: 31px;

  opacity: 0.5;
}
.button__transparent-default, .button__transparent-hover {
  border: 2px solid #BC9CFF;
  color: #BC9CFF;
}
.button__transparent-default{
  top: 105px;

}
.button__transparent-hover{
  left: 119px;
  top: 105px;
  opacity: 0.5;
}

.buttons__icon-left, .buttons__icon-right {
  position: absolute;
  width: 61px;
  height: 15px;
}
.buttons__general-text {

}
.buttons__icon-left {
  left: 1px;
  top: 180px;
  span {
    color: #BC9CFF;
  }
}
.buttons__icon-right {
  left: 82px;
  top: 179.56px;
  span {
    color: rgba(31, 32, 65, 0.5);
  }
}
