.checkbox-buttons {
  position: absolute;
  width: 222px;
  height: 129.12px;
  left: 587px;
  top: 143px;
  .checkbox-button__text {
    @extend .general-setting__text;
    width: 136px;
    height: 15px;
    top: 0;

  }
  .checkbox-buttons__block {
    margin-top: 16.56px;
    height: 97.56px;
    .general-style-list {
      display: flex;
      height: 20px;
      margin-bottom: 10px;
    }
    .general-style-list:last-child {
      height: 37px;
    }
    .general-style-list:last-of-type > label {
      width: 192px;

    }
  }

}



