.checkbox-list {
  width: 266px;
  height: 44px;
  top: 1182px;
}
.text-checkbox-list {
  width: 192px;
  height: 15px;
  top: 14px;
}
.input-checkbox-list {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 221px;
}
