.checkbox-buttons{
  width: 222px;
  height: 129.12px;
  left: 587px;
  top: 143px;
}
.text-checkbox-button{
  width: 136px;
  height: 15px;
  top:0;
}

.list{
  position: absolute;
  //width: 134.74px;
  height: 20px;
  top: 31.56px;
}
.list-1{
  position: absolute;
  width: 181px;
  height: 20px;
  top: 62.12px;

}
.list-2{
  position: absolute;
  width: 222px;
  height: 37px;
  top: 92.12px;
}

