.dropdown-default {
  position: absolute;
  width: 320px;
  left: 141px;
  top: 311px;
  .dropdown-default__text {
    @extend .general-setting__text;
    width: 81px;
    top: 0.44px;
  }
  .dropdown-default__hidden-text {
    @extend .general-setting__hidden-text;
    margin-left: 263.74px;
    margin-top: -16px;
    visibility: hidden;
  }
  .dropdown-default__input{
    margin-top: 6px;
  }
  .dropdown-default__button{
    margin-left: 275.74px;
    margin-top: -44px;
  }
}

