.filter-date-dropdown {
  @extend .general-setting__block;
  width: 266px;
  top: 607px;

  .filter-date-dropdown__text {
    @extend .general-setting__text;
    width: 197px;
    height: 15px;
  }

  .filter-date-dropdown__input {
    margin-top: 5px;
  }

  .filter-date-dropdown__button {
    margin-top: -44px;
    margin-left: 222px;
  }
}

