.filter-date-dropdown{
  width: 266px;
  height: 65px;
  top: 607px;

}
.text-filter {
  width: 197px;
  height: 15px;
  top:0;
}
.text-filter-input{
  font-family: Montserrat-Regular;
  width: 266px;
  height: 44px;
  top: 20px;
}
.input-button__filter{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 222px;
  top: 20px;
}