@import "placeholder";
.input-focus {
  @extend .general-setting__block;
  width: 320px;
  top: 228px;
  .input-focus__text {
    @extend .general-setting__text;
    width: 72px;
    height: 15px;
  }

  .input-focus__hidden-text{
    @extend .general-setting__hidden-text;
    width: 98px;
    height: 15px;
    margin-left: 224px;
    margin-top: -16px;
  }
  .input-focus__input {
    margin-top: 6px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    padding-bottom: 4px;
  }
}




