.open-checkbox-list {
  width: 266px;
  height: 44px;
  left: 140px;
  top: 1246px;
}
.text-open-checkbox-list {
  width: 192px;
  height: 15px;
  top: 14px;
}
.input-open-checkbox-list {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 222px;
}

.material-icons__rotate{
  color: rgba(31, 32, 65, 0.5);
  transform: rotate(-180deg);
}
.open-list {
  position: absolute;
  width: 222px;
  height: 171px;
  top: 46.44px;
}
.general-style-list {
  position: absolute;
  height: 20px;
  display: flex;
}
.group{
  width: 88.74px;
  top: 2px;
}
.group-1{
  width: 162px;
  top: 32px;
}
.group-2{
  width: 222px;
  top: 62px;
}
.group-3{
  width: 222px;
  top: 92px;
}
.group-4{
  width: 107.74px;
  top: 122px;
}
.group-5{
  width: 99.74px;
  top: 152px;
}
