.open-guest-dropdown{
  position: absolute;
  width: 320px;
  height: 221.56px;
  left: 587px;
  top: 876px;
}
.text-guest-dropdown{
  position: absolute;
  width: 81px;
  height: 15px;
  top: 0;
}
.open-guest-dropdown__input{
  width: 320px;
  height: 44px;
  top: 20px;

  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 2px;
}
.input-guest-dropdown{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 276px;
  top: 20px;
}
.guest-dropdown__open {
  position: absolute;
  width: 320px;
  height: 159px;
  top: 62.56px;

  background: #FFFFFF;
  /* Dark 50% */

  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.people__text {
  left: 15px;
  top: 13px;
}
.children__text {
  left: 15px;
  top: 50px;
}
.babies__text{
  width: 133px;
  height: 15px;
  left: 15px;
  top: 87px;
}
//1022.56
.guest-dropdown__counter {
  display: flex;
  width: 92px;
  height: 30px;
  margin-left: 221px;
  margin-top: 6px;
  .restangle {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
  }

  .restangle__plus{
    left: 283px;
    top: 7.56px;
  }
  .restangle-children__plus{
    left: 283px;
  }
  .restangle-babies__plus{
    left: 283px;
  }
  .restangle__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: rgba(31, 32, 65, 0.5);
  }
  .quantity{
    width: 92px;
    left: 221px;
    top: 12px;

    text-align: center;

  }
  .quantity__children{
    width: 92px;
    left: 221px;
    top: 48px;
    text-align: center;
  }
  .quantity__babies{
    width: 92px;
    left: 221px;
    top: 86.5px;
    text-align: center;
  }
  .restangle__not-active{
    opacity: 0.38;
  }
}
.link-button {
  position: absolute;
  width: 84px;
  height: 15px;
  left: 229px;
  top: 193px;
}