.open-dropdown-expanded {
  position: absolute;
  width: 266px;
  height: 181.56px;
  left: 140px;
  top: 960px;

  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));

  .open-dropdown-expanded__text {
    @extend .general-setting__text;
  }

  .open-dropdown-expanded__text-hidden {
    @extend .general-setting__hidden-text ;
    margin-left: 196px;
    margin-top: -15px;
  }

  .open-dropdown-expanded__input {
    width: 266px;
    height: 44px;
    margin-top: 4px;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom-color: rgba(31,32,65,.25);
  }

  .open-dropdown-expanded__button {
    margin-top: -43px;
    margin-left: 222px;
  }

  .material-icons__open-dropdown_more {
    padding-bottom: 9px;
    color: rgba(31, 32, 65, 0.75);
  }
  .dropdown-expanded__open {
    margin-top: -1px;
    background: #FFFFFF;
    /* Dark 50% */
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top-color: rgba(31,32,65,.25);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;

    .bedrooms, .bed, .bathrooms, {
      display: flex;
      height: 39px;
    }

    .bed {
      .dropdown__open-text {
        margin-top: 10px;
      }

      .counter {
        margin-bottom: 4px;
      }
    }

    .bathrooms {
      .dropdown__open-text {
        margin-top: 8px;
      }

      .counter {
        margin-bottom: 8px;
      }
    }

    .dropdown__open-text {
      @extend .general-setting__text;
      margin-left: 14px;
      margin-top: 12px;
    }

    .counter {
      display: flex;
      align-items: center;
      width: 92px;
      margin-right: 7px;
      margin-left: auto;

    }

    .counter__quantity {
      @extend .general-setting__text;
      width: 32px;
      height: 15px;
      margin-left: 2px;

      text-align: center;

    }

    .restangle {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .restangle__not-active {
      opacity: 0.38;
    }
  }

}



