.open-data-dropdown{
  position: absolute;
  width: 320px;
  height: 221.56px;
  left: 979px;
  top: 876px;

}

.link-button, .link-button__clear {
  position: absolute;
  width: 84px;
  height: 15px;
  left: 229px;
  top: 193px;
}
.link-button__clear {
  left: 7px;
}