.pagination {
  position: absolute;
  width: 241px;
  height: 106px;
  left: 979px;
  top: 540px;
}

.pagination__text {
  left: 1px;
  top: 0px;
}

.pagination__group {
  position: absolute;
  width: 241px;
  height: 75px;
  top: 31px;
}

.pagination__group-numeral {
  top: 31px;
  width: 241px;
  height: 40.44px;
  display: flex;

}


//.pagination__numeral:last-of-type > button{
//  visibility: visible;
//  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
//}
.pagination__numeral {
  width: 40px;
  height: 40px;
  /* Primary Gradient */
  background: #BC9CFF;
  border-radius: 22px;
  visibility: hidden;
  text-align: center;
}

.pagination__numeral:first-of-type {
  margin-left: 1px;
  text-align: center;
  color: #FFFFFF;
  visibility: visible;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.pagination__numeral:first-of-type .pagination__circle-text{
  color: #FFFFFF;
}
.pagination__circle-text {
  font-family: Montserrat-Regular;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  visibility: visible;
  margin-top: 8px;
  margin-right: 1px;
  color: rgba(31, 32, 65, 0.5);
}

.pagination__group-text {
  position: absolute;
  left: 6px;
  top: 47px;
  font-weight: normal;
  line-height: 24px;
  /* identical to box height, or 171% */


  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);
}