.radio-buttons{
  width: 220.74px;
  height: 55px;
  left: 587px;
  top: 313px;
}
.text-radio-button{
  width: 107px;
  height: 15px;
  top: 0px;
}

.radio-switch__woman{
  position: absolute;
  width: 102.74px;
  height: 24px;
  left: 118px;
  top: 29px;
  display: flex;
}
.radio-switch__man {
  position: absolute;
  width: 98px;
  height: 24px;
  top: 29px;
  display: flex;

}


