.range-slider {
  width: 266px;
  height: 47.44px;
  left: 979px;
  top: 143px;
}

.range-slider__text {
  width: 95px;
  height: 15px;
  top: 0.44px;
}

.range-slider__price {
  width: 102px;
  height: 15px;
  left: 163.74px;
}

.range-slider__group {
  position: absolute;
  width: 266px;
  height: 12px;
  //left: 979px;
  top: 35.44px;
}

.range-slider__group-line {
  position: absolute;
  width: 266px;
  height: 6px;
  top: 3.44px;

  background: #FFFFFF;
  /* Dark 25% */

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

.range-slider__group-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -5px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.range-slider__group-circle-left {
  margin-left: 74px;
}

.range-slider__group-dedicated {
  position: absolute;
  width: 70px;
  height: 6px;
  margin-left: 90px;
  top: -1px;

  /* Secondary Gradient */

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.range-slider__group-circle-right {
  left: 159px;
}
