.review {
  position: absolute;
  width: 711px;
  height: 133px;
  left: 587px;
  top: 1574px;
}

.review__author {
  width: 278.05px;
  height: 51px;
  display: flex;
}

.review__author-avatar {

  & img {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));

  }
}

.review__author-name {
  width: 220.45px;
  height: 48px;
  left: 57.6px;
  top: 3px;
  margin-left: 9px;
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 13.9px;
  line-height: 24px;

  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);

  & p {
    font-family: Montserrat-Regular;
    font-weight: normal;
    margin: 0;
  }
}
.review__like-button {
  width: 39.72px;
  height: 20px;
  left: 3.97px;
  top: 60px;

}
.review__text {
  width: 650px;
  height: 72px;
  margin-left: 60px;
  margin-top: 7px;

  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 13.9px;
  line-height: 24px;
  /* or 171% */


  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);
}