.rich-checkbox-buttons {
  width: 266px;
  height: 145px;
  left: 587px;
  top: 1196px;
}

.rich-checkbox-button__text {
  width: 171px;
  height: 15px;
  top: 0px;
}

.input-checkbox-list {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 221px;
}

.wide-corridor {
  position: absolute;
  width: 233px;
  height: 52px;
  top: 31px;

}


