@import "placeholder";

.subscription-text-field {
  position: absolute;;
  width: 267px;
  left: 140px;
  top: 712px;

  .subscription-text-field__text {
    @extend .general-setting__text;
    width: 170px;
    height: 15px;
    left: 1px;
  }

  .subscription-text-field__input {
    margin-top: 5px;
  }

  .subscription-text-field__button {
    margin-left: 223px;
    margin-top: -44px;

    .material-icons__subscription {
      background: white; /* Белый цвет фона */
      mix-blend-mode: screen
    }
  }

}