.toggle{
  width: 260px;
  height: 89px;
  left: 587px;
  top: 404.56px;
}
.toggle-text{
  width: 50px;
  height: 15px;
  top: 0;
}

.toggle__active{
  position: absolute;
  width: 260px;
  height: 24px;
  top: 31px;
  display: flex;
}
.toggle__not-active{
  position: absolute;
  width: 260px;
  height: 24px;
  top: 65px;
  display: flex;
}


