@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  button[type='button'],
  button[type='submit'],
  button[type='like'],
  button[type='rating'],
  button[type='filter'],{
    width: 44px;
    height: 44px;
    padding: 0;
    cursor: pointer;
    background: #0000;
    border: none;
    border-radius: 4px;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;

  }
  button[type='button'] {
    &.restangle {
      font-family: $mainFont;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(31, 32, 65, 0.5);

      width: 30px;
      height: 30px;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 22px;
    }

  }
  button[type='submit'] {
    width: 24px;
    height: 24px;
  }
  button[type='like'] {
    width: 40px;
    height: 20px;

    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Montserrat-Regular;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
    &.like-button-active {
      border: 1px solid #BC9CFF;
      color: #BC9CFF;
    }
  }
  button[type='rating'] {
    width: 120px;
    height: 24px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  button[type='filter'] {
    width: 84px;
    height: 15px;
    @extend .general-setting__text;
  }
  button[type='color-button'] {
    outline: none;
    border: none;
    cursor: pointer;

    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    @extend .general-setting__text;
    &.transparent {
      border: 2px solid transparent;
      background:
              linear-gradient(#fff,#fff) padding-box, /*this white background*/
              linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}