@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #FFFFFF;
    --active-inner: #BC9CFF;
    --active-inner-gradient: linear-gradient(180deg, #bc9cff, #8ba4f9);
    //--focus: 2px rgba(39, 94, 254, .3);
    --border: rgba(31, 32, 65, 0.25);
    --border-checked: #BC9CFF;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      left: 3px;
      top: 3px;
      position: absolute;
      //transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--border-checked);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 20px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    & + label {
      margin-left: 10px;
      font-family: 'Montserrat-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 4px;

      &:after {
        width: 6px;
        height: 8px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 40px;
      border-radius: 10px;

      &:after {
        top: 2px;
        border-radius: 10px;
        width: 12px;
        height: 12px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner-gradient);
        --x: 17px;
        &:after {
          left: 6px;

        }
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    top:2px;
    border-radius: 50%;

    &:after {
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: var(--active-inner-gradient);
      opacity: 0;
    }
    & + div {
      margin-top:2px;
    }
    &:checked + div {
      margin-top:2px;
      color: rgba(31, 32, 65, 0.75);
    }
  }
}