@import "../utils/mixins";
.block__roompage1 {
  position: absolute;
  left: 980px;
  top: 559px;
}
.image-switch__left{
  top:53.5px;
  z-index: 30;
  position: absolute;
  opacity: 1;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
}
.image-switch__right{
  top: 53.5px;
  left: 226px;
  z-index: 30;
  position: absolute;
  width: 44px;
  height: 44px;
  opacity: 1;
  display: flex;
  justify-content: center;
}
.image-switch__button {
  cursor: pointer;
  background: #0000;
  border: none;
  outline:none;
}
.material-icons-color{
  color: white;
}
.product__number__lux {
  position: absolute;
  left: 80px;
  top: 181px;
  width: 41px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
}
.product__rating__lux{
  margin-right: 20px;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
}
.product__testimonials__lux {
  margin-top: 11.56px;
  color: rgba(31, 32, 65, 0.5);
  line-height: 18px;
  text-align: right;
}