include ../../utils/mixins
article.product.product__block-roompage-lux
    .product__image-mask
        .image-mask
        .image-mask.image-mask__right
    .product__button
        +product__button()
            +icon(icon="__style", name="keyboard_arrow_left")
    .product__button.product__button-svg-right
        +product__button()
            +icon(icon="__style", name="keyboard_arrow_right")
    .product__number-lux люкс
    a.product__image(href="#")
        .product__switch.image-switch
            +image-switch__item("../../assets/img/room-Page1.png", "room")
            +image-switch__item("../../assets/img/image2.png", "room")
            +image-switch__item("../../assets/img/image3.png", "room")
            +image-switch__item("../../assets/img/image4.png", "room")
        ul.product__image-pagination.image-pagination(aria-hidden="true")
    .product__info
        span.product__number № <span>888</span>
        span.product__price 9 900₽
            span в сутки
        .gorizontal__line
        .product__props
            span.product__rating-lux
                +product__button()
                    - for(let i = 1; i <= 5; i++)
                    +icon(icon="-rating" name="star")
            span.product__testimonials-lux 145 Отзывов