.text {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.text__field {
  position: absolute;
  width: 72px;
  height: 15px;
  top: 3px;
  color: #1F2041;
}
.text-default {
  position: absolute;
  width: 57px;
  height: 15px;
  left: 262.74px;
  font-weight: normal;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}
.text__field-input {
  font-family: $mainFont;
  position: absolute;
  width: 320px;
  height: 44px;
  top: 23px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}
.not-visible {
  visibility: hidden;
  left: 261.74px;
}
