.date-dropdown{
  position: absolute;
  width: 150px;
  height: 65px;
  left: 141px;
  top: 502px;
}
.text__date-dropdown{
  width: 150px;
  height: 15px;
  top:0;
}
.date-dropdown-input {
  width: 150px;
  top: 20.44px;
}
//.expand_more{
//  left: 116px;
//  top: 21px;
//}