.dropdown-default {
  height: 64.44px;
  top: 311px;
}

.dropdown {
  width: 81px;
  top: 0.44px;
  font-weight: bold;
}
.input-dropdown{
  top: 20.44px;
  box-sizing: border-box;
}
.input-button{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 280px;
  top: 29px;
}