.open-checkbox-list {
  position: absolute;
  width: 266px;
  height: 44px;
  left: 140px;
  top: 1246px;
  .open-checkbox-list__text {
    @extend .general-setting__text;
    width: 192px;
    height: 15px;
    margin-top: 15px;
  }
  .open-checkbox-list__button{
    margin-left: 222px;
    margin-top: -31px;
  }
  .material-icons__rotate{
    color: rgba(31, 32, 65, 0.5);
    transform: rotate(-180deg);
    margin-top: 1px;
  }
}


.open-list {
  position: absolute;
  width: 222px;
  height: 171px;
  top: 46.44px;
  .general-style-list {
    height: 28.5px;
    margin-top: 2px;
  }
  .general-style-list:first-child {
    margin-top: 0px;
  }
}

