block variables


doctype html
html(lang='en')
	head
		meta(charset='utf8')
		title #{title}
		block head
	body(class=pageClass)
		block content

//
//├── src/                             # Исходники
//│   ├── assets/                      # Подключаемые ресурсы
//│   │   ├── fonts/                   # Шрифты используемые в проекте
//│   │   ├── img/                     # Изображения используемые в проекте
//│   │   └── styles/                  # Стили
//│   │       ├── theme/               # Папка с темой проекта
//│   │       │   ├── colors.scss      # Файл с переменными цветов
//│   │       │   ├── fonts.scss       # Файл с подлючаемыми шрифтами
//│   │       │   └── spaces.scss      # Переменные отступов
//│   │       └── main.scss            # Файл в который импортируются все стили
//│   ├── blocks/                      # Папка с блоками проекта
//│   ├── favicons/                    # Фавиконки для разных браузеров
//│   ├── layouts/                     # Папка с шаблонами разметки
//│   ├── pages/                       # Папка страниц проекта
//│   └── pixel-perfect/               # Скриншоты для сверки Pixel Perfect
//├── .eslintrc.json                   # Конфигурация проверки JavaScript в ESLint
//├── .pug-lintrc                      # Конфигурация проверки pug-файлов
